/*============================================== start;
Variables
================================================*/
:root {
  --font-family-body: "Jost", "EB Garamond";
  --font-family-heading: "EB Garamond";
  --primary-color: #28b34b;
  --secondary-color: #f9be3d;
  --body-text-color: #ffffff;
  --heading-text-color: #ececec;
  --heading-nav-text-color: #2b2b2c;
  --heading-nav-text-color-hover: #287b06;
  --paragraph-text-color: #686868;
  --sub-text-color: #f5fffb;


}

/*==============================================
Theme default css
================================================*/
button,
button:focus,
input,
input:focus,
textarea,
textarea:focus {
  outline: 0;
  border: unset;
}

h5 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 3vw, 18px);
  line-height: 23px;
  color: var(--sub-text-color);
}


.profile_tab_section_left::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 9px -17px 20px #dce7df;
  border-radius: 4px;
  border: 2px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #28b34b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input::placeholder {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #4b685b;
  opacity: 0.7;
}

input[type="date"]::before {
  color: #4b685b;
  opacity: 0.7;
  content: attr(placeholder);
}
input[type="date"]::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../assets/images/datepicker.svg) no-repeat center, #fff;
  position: absolute;
  right: 13px;
  pointer-events: none;
  bottom: 6px;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
section {
  float: left;
  width: 100%;
  display: block;
}
a {
  text-decoration: unset !important;
  color: unset !important;
}
/* button ? */
.yellow_btn {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 145.2%;
  text-transform: capitalize;
  color: var(--body-text-color);
  background: var(--primary-color);
  border-radius: 5px;
  padding: 12px 13px;
  white-space: nowrap;
}
/* loader start*/
.spinner {
  position: relative;
  width: 9px;
  aspect-ratio: 1;
}

.spinner div {
  animation: spinner-4t3wzl 1.875s infinite backwards;
  background-color: #e0e0e6;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(234, 234, 236, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(240, 240, 243, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(237, 237, 238, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(252, 252, 253, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(255, 255, 255, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}
.loader_parent {
  margin-top: 50px;
  display: flex;
  height: 85px;
  justify-content: center;
  align-items: center;
}
select:focus-visible {
  outline: unset;
  border: unset;
}

input[type="date"]:not(:valid) {
  color: transparent;
}

input[type="date"]:valid::before {
  content: "" !important;
}
input[type="date"]:not(:valid):-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]:not(:valid)::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/* loader end*/

/* check box  */
.switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 54px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*==============================================
Header
================================================*/
.lan_section select {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  background: transparent;
  border: unset;
  padding-left: 8px;
}
.prfileName {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: var(--heading-nav-text-color);
  margin-left: 10px;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user_icon {
  display: flex;
  align-items: center;
}
.lan_section select option {
  color: var(--heading-nav-text-color);
  background: #ffffff;
}
.sub_header_top {
  background-color: var(--primary-color);
}
.sub_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 12px 0px !important;
}
.rating_text {
  white-space: nowrap;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerRating {
  display: grid;
  align-items: center;
  gap: 15px;
  grid-auto-flow: column;
}

.headerInput {
  position: relative;
  width: 630px;
  min-width: 100px;
}

.headerInput input {
  width: 100%;
  background: #f5fefa;
  border-radius: 5px;
  border: none;
  padding: 12px 40px 12px 26px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-overflow: ellipsis;
}

.headerInput label {
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0px;
  top: 0;
  display: flex;
  align-items: center;
}

h6 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #f5fffb;
  margin: 0 !important;
}

.location_text p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #c0ded0;
  margin: 0;
  white-space: nowrap;
}

.headerRating button {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--heading-nav-text-color);
  background: #f9be3d;
  border-radius: 2px 10px;
  padding: 2px 10px;
}

/* navbar */
ul.navlist {
  display: grid;
  gap: 2.1vw;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  grid-auto-flow: column;
}
li.navitem {
  color: var(--heading-nav-text-color);
}
/* .logo img {
  width: clamp(150px, 10vw, 169px);
} */
.navbar {
  padding: 12px 0 !important;
  height: 120px;
}
.navitem {
  cursor: pointer;
  position: relative;
}
li.navitem:hover {
  color: var(--primary-color);
}
li.navitem.active {
  font-weight: 600;
  color: var(--primary-color);
}
li.navitem.active::after {
  display: block;
}
li.navitem::after {
  content: "";
  position: absolute;
  bottom: -46px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  display: none;
}
li.navitem:hover::after {
  display: block;
}

/* nav icon */

.menu_icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.userList {
  display: grid;
  gap: 27px;
  grid-auto-flow: column;
}
span.shopping_icon {
  position: relative;
}

span.shopping_icon:after {
  content: attr(aria-label);
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  /* line-height: 19px; */
  text-align: center;
  color: #ffffff;
  background: #6fc34d;
  width: 20px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_icon_content {
  max-width: 170px;
  width: 100%;
  display: block;
  float: left;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  right: -7px;
  top: 98%;
  z-index: 2;
  box-shadow: -4px 8px 20px 9px #80808070;
}

.user_icon_content a p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--heading-nav-text-color);
  margin: 0;
  padding: 10px 0px 10px 20px;
  text-transform: capitalize;
}
.user_icon_content a p:hover {
  font-weight: 600;
  background: #fff9ed;
}

.user_icon_content:after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  display: block;
  top: -12px;
  right: 17px;
  box-shadow: -1px -3px 4px #80808070;
  transform: rotate(45deg) skew(10deg, 10deg);
}
.user_icon_popup {
  position: absolute;
  z-index: 2;
  right: -6px;
  width: 100%;
  top: 97%;
}
.user_icon_content a:first-child {
  border-bottom: 1px solid #ccc;
  display: block;
}
.user_icon_popup.shadow {
  display: block;
}
.user_icon_popup {
  display: none;
}

/*==============================================
Banner
================================================*/
.home_banner_slider_header {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  font-size: clamp(30px, 3vw, 52px);
  line-height: 130%;
  color: var(--heading-nav-text-color);
  margin-top: 21px;
}
.home_banner_slider {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.home_banner_slider_header::first-line {
  color: var(--primary-color);

  font-weight: 600;
}
.home_banner_slider_top {
  background: url(../assets/images/BANNER.png) no-repeat center;
  height: 440px;
  background-size: cover;
}
.home_banner_slider button {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--heading-nav-text-color);
  background: #f9be3d;
  border-radius: 0px 20px;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  margin-left: 15px !important;
  height: 4px !important;
  background: #686868 !important;
  opacity: 0.5 !important;
  padding: 0;
  border: unset !important;
}
.carousel-indicators .active {
  width: 40px !important;
  background-color: var(--primary-color) !important;
  opacity: 1 !important;
}

/*==============================================
common header
================================================*/
.sections.bg-img {
  background: url(../assets/images/Honey-Comp-Background-2\ 1.png) right top / 100% 100%, #E2F9E8;
}
/* main header  */
.pageg_header {
  background: #faf8ce;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.05);
  padding: 20px 0 !important ;
  padding: clamp(15px, 3vw, 21px) 0 !important ;
}
h1.section_header_sub_title {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(26px, 2vw, 40px);
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  position: relative;
  margin-bottom: 15px;
}

.main_section {
  background: var(--body-text-color);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

h5.section_header_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #686868;
  margin: 6px;
}

.section_header_subtitle {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(28px, 2vw, 38px);
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  position: relative;
  margin-bottom: 65px;
}

h1.section_header_subtitle:after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -25px;
  background: #f9be3d;
  left: calc(50% - 30px);
}

.viewbtn {
  text-align: center;
  padding-top: 40px;
}
.viewbtn a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-decoration-line: underline !important;
  text-transform: capitalize !important;
  color: var(--primary-color) !important;
  text-align: center;
}
.sections {
  padding: 60px 0;
  position: relative;
}
.category_card {
  background: #020f09;
  border-radius: 5px 20px;
  width: 306px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #efefee;
  padding: 15px;
  background: var(--body-text-color);
}
.category_card_header_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
}

.category_card_header_item {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #686868;
  margin: 0;
}

.category_card_img {
  width: 120px;
  height: 110px;
  border-radius: 5px 20px;
  overflow: hidden;
  background: #28b34b;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
}
.category_card:nth-child(5n-4) .category_card_img {
  background: #e0f2ff;
}
.category_card:nth-child(5n-3) .category_card_img {
  background: #f8e2ce;
}
.category_card:nth-child(5n-2) .category_card_img {
  background: #fdfbd1;
}
.category_card:nth-child(5n-1) .category_card_img {
  background: #eaf4e0;
}
.category_card:nth-child(5n) .category_card_img {
  background: #e1fdef;
}

.category_card_img img {
  object-fit: scale-down;
  object-position: center;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}
.section_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(15px, 2vw, 35px);
  margin: auto;
  place-items: center;
}
.limited {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  gap: 32px;
  align-items: start;
  justify-items: center;
}
.limited_card button.yellow_btn {
  background: var(--body-text-color);
  color: var(--heading-nav-text-color);
}
.limited_card {
  background: var(--primary-color);
  border-radius: 5px 50px;
  display: flex;
  gap: 20px;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  max-width: 640px;
  width: 100%;
  height: 100%;
}

.limited_card_header_item {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: var(--body-text-color);
}

.limited_card_header_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(22px, 2vw, 30px);
  line-height: clamp(30px, 2vw, 39px);
  text-transform: capitalize;
  color: #ffffff;
}

.limited_card_img {
  position: relative;
}

.offer_text {
  position: absolute;
  top: 0;
  right: 0;
  background: #f9be3d;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.31);
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  width: 74px;
  height: 74px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer_text p {
  margin: 0;
}

.time_line {
  display: grid;
  gap: 10px;
  position: absolute;
  bottom: -12px;
  grid-auto-flow: column;
}

.time_line > div > h4 {
  font-family: "Euromode";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}

.time_line > div > p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
  margin: 0;
}

.time_line > div {
  background: #ffffff;
  width: 63px;
  height: 63px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.limited_card:nth-child(6n-5) {
  background: linear-gradient(
    290.28deg,
    #28b34b 28.35%,
    rgba(40, 179, 75, 0.9) 93.89%
  );
}
.limited_card:nth-child(6n-4) {
  background: #f9be3d;
}
.limited_card:nth-child(6n-3) {
  background: #f4b77e;
}
.limited_card:nth-child(6n-2) {
  background: #0c3a5b;
}
.limited_card:nth-child(6n-1) {
  background: #ed9c9c;
}
.limited_card:nth-child(6n) {
  background: #98e9c3;
}

.limited_card:nth-child(6n-4) .limited_card_header_title,
.limited_card:nth-child(6n-3) .limited_card_header_title,
.limited_card:nth-child(6n) .limited_card_header_title {
  color: #2b2b2c;
}
.limited_card:nth-child(6n-4) .limited_card_header_item,
.limited_card:nth-child(6n-3) .limited_card_header_item,
.limited_card:nth-child(6n) .limited_card_header_item {
  color: #2b2b2c;
}
.limited_card:nth-child(6n-4) .offer_text,
.limited_card:nth-child(6n-3) .offer_text,
.limited_card:nth-child(6n) .offer_text {
  background: #28b34b;
  color: #ffffff;
}
/* .Product Detail page  */
.img_section {
  background: #d9d9d9;
  border-radius: 5px 25px;
  overflow: hidden;
  height: 100%;
}

.img_section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.prodectName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.prodectName_inner {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  font-size: clamp(24px, 3vw, 38px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #2b2b2c;
}

.prodectName h5 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  font-size: clamp(18px, 3vw, 30px);
  line-height: 113.2%;
  text-align: right;
  text-transform: capitalize;
  color: #2b2b2c;
}

.combo_section {
  border: 1px solid #dadbda;
  border-radius: 5px;
  padding: 30px;
  margin-top: 50px;
}

.combo_section .prodectName_inner {
  text-align: center;
  margin-bottom: 30px;
}

.rating_Feedback.nav-pills .nav-link.active,
.rating_Feedback .nav-pills .show > .nav-link {
  background: transparent !important;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #2b2b2c;
  border-bottom: 3px solid #28b34b;
  border-radius: unset;
  padding: 13px;
}
.rating_Feedback.nav-pills .nav-link {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
  padding: 13px;
}

.rating_Feedback {
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px !important;
  margin-top: 50px !important;
}

.product_description_text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
}

.customize_section {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
  opacity: 0.5;
  padding-bottom: 20px;
}
.productDetail_section .recomm_card_price {
  display: flex;
  width: fit-content;
  gap: 20px;
  flex-wrap: wrap;
}
.productDetail_section .item_increase {
  height: 50px;
  width: 180px;
  min-width: 130px;
}
.productDetail_section .recomm_card_price .yellow_btn {
  width: 180px;
  min-width: 130px;
}
progress {
  border-radius: 7px;
  width: 100%;
  height: 5px;
}

progress::-webkit-progress-bar {
  background: #d9d9d9;
  border-radius: 7px;
}
.add_section_part .squar_ad {
  position: unset;
  display: block;
}
.customizes {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
progress::-webkit-progress-value {
  background-color: #28b34b;
  border-radius: 7px;
}
.feedbacks_section_profile {
  display: flex;
  align-items: center;
}

.feedbacks_section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedbacks_section_profile_img {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.feedbacks_section_profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name_part {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #2b2b2c;
  margin-bottom: 2px;
}

.update_date {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  text-transform: capitalize;
  color: #686868;
  margin: 0;
}

.feedback {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 15px 0;
  margin: 0;
}
.header_feedbacks_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbacks_section_chart + .feedbacks_section_chart {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
}
.feedbacks_section {
  height: 395px;
  overflow: auto;
  padding-right: 18px;
}
.sub_header_inner {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 113.2%;
  text-transform: capitalize;
  color: #2b2b2c;
  margin: 0px 0 30px 0px;
}

.view_more_opction {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: right;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #28b34b;
  margin: 0;
}

.percent {
  position: relative;
  width: fit-content;
}

.percent svg {
  position: relative;
  width: 160px;
  height: 160px;
  transform: rotate(-90deg);
}

.percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #d9d9d9;
  stroke-width: 10;
  stroke-linecap: round;
}

.percent svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #28b34b;
}

.percent .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent .number h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  text-transform: capitalize;
  color: #2b2b2c;
}
.percent .number h3 p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-transform: capitalize;
  color: #686868;
  text-align: center;
  margin: 0;
}
.progress_section {
  display: flex;
  gap: 40px;
}

.progress_single_line {
  display: grid;
}

.progress_single_line {
  width: calc(100% - 165px);
}

.progress_single_line_section {
  display: flex;
  align-items: center;
}

.percent .number h3 span {
  display: inline-flex;
  padding-left: 5px;
}

.percent circle:last-of-type {
  stroke: #28b34b;
}
.progress_single_line_section label {
  display: flex;
  padding-right: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: #2b2b2c;
}

.productDetail_section .rating_section_text.text {
  border-bottom: 1px solid #00000042;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* .recomm section  */
.recomm {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  position: relative;
  align-items: start;
  justify-items: center;
}

.recomm_card_img {
  height: 230px;
  border-radius: 5px 25px 0px;
  overflow: hidden;
}
.offer_part {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: clamp(16px, 23vw, 20px);
  line-height: clamp(20px, 23vw, 26px);
  text-transform: capitalize;
  color: #2b2b2c;
  padding: 8px 15px;
  background: #f9be3d;
  border-radius: 5px 0px;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

.recomm_card {
  position: relative;
  border-radius: 5px 25px 5px 5px;
  background: var(--body-text-color);
  border: 1px solid #dadbda;

  max-width: 400px;
  height: fit-content;
}

.recomm_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}

.recomm_card_price {
  display: flex;
  justify-content: space-between;
}

h4.recomm_card_header_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(19px, 4vw, 24px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-break: anywhere;
  /* height: 55px; */
}

p.recomm_card_header_item {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 4vw, 18px);
  line-height: clamp(22px, 4vw, 26px);
  text-transform: capitalize;
  color: var(--paragraph-text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 52px;
  line-break: anywhere;
}

.recomm_card_price p {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 37px;
  color: var(--heading-nav-text-color);
  margin: 0;
}
.recomm_card_price .yellow_btn {
  font-size: 16px;
  width: 130px;
  box-shadow: unset;
}
.rating_star {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  width: fit-content;
  place-items: center;
  padding-bottom: 20px;
}

.rating_section {
  margin: 0;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  gap: 2px;
  width: 44px;
  height: 23px;
  background: var(--secondary-color);
  border: 0.5px solid var(--secondary-color);
  border-radius: 2px;
  color: var(--body-text-color);
  font-size: 13px;
}
.recomm_card_header {
  padding: 20px 13px;
}
.rating_section_text {
  font-family: "Jost";
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: var(--paragraph-text-color);
}

.latestoff_card_header_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(22px, 4vw, 28px);
  line-height: clamp(24px, 4vw, 29px);
  text-transform: capitalize;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  max-width: 190px;
}
.latestoff_card_button .yellow_btn {
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.54);
}
.latestoff_card_offers {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

p.latestoff_card_offer {
  margin: 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(30px, 4vw, 40px);
  line-height: 58px;
  text-transform: capitalize;
  color: #f9be3d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.latestoff_card_offer_pes p {
  margin: 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #f9be3d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.latestoff_card {
  background: attr(aria-label) no-repeat, #000000;
  background-size: cover !important;
  border-radius: 5px 50px;
  padding: 35px 28px;
  overflow: hidden;
  width: 100%;
  max-width: 420px;
  height: 100%;
}
.latestoff {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(303px, 1fr));
  gap: 30px;
  align-items: start;
  justify-items: center;
}
.limited_card_img {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 196px;
  height: 196px;
}
.limited_card_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/*footer*/
footer {
  background: #020503;
  width: 100%;
  float: left;
  /* padding-top: 50px; */
}
.footer_top_section {
  width: 100%;
  float: left;
  padding: 60px 0px;
}
.footer_inner_wrap {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer_contact_us {
  display: flex;
  flex-direction: column;
}
.footer_contact_us h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #6fc34d;
}
.footer_contact_us ul li {
  display: flex;
  color: #fff;
  margin-top: 19px;
}
.footer_contact_us ul li span {
  width: 26px;
  display: flex;
  height: 29px;
  justify-content: center;
}
.footer_contact_us ul li span i {
  font-size: 22px;
  color: #6fc34d;
}
.footer_contact_us ul li p {
  padding-left: 13px;
  width: 271px;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #eaeaea;
}
.footer_quick_links ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #eaeaea;
  text-decoration: none;
}
.footer_quantam_plus {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  align-items: center;
  width: 100%;
}
.footer_quantam_plus > a {
  /* background: #ffffff; */
  border-radius: 5px;
  padding: 9px 12px;
  margin-bottom: 36px;
}
.footer_quantam_plus p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 25px;
}
.footer_quantam_plus ul {
  display: flex;
  flex-direction: row;
}
.footer_quantam_plus ul li {
  margin: 0px 10px;
}
.footer_quantam_plus ul li a {
  border: 1px dashed #ffffff;
  width: 42px;
  height: 42px;
  display: flex;
  border-radius: 42px;
  text-align: center;
  text-decoration: none;
}
.footer_quantam_plus ul li a i {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  width: 42px;
  height: 42px;
  align-self: center;
  align-items: center;
  color: #fff;
}
.footer_quantam_plus ul li a:hover,
.footer_quantam_plus ul li a.active {
  border: 1px solid #6fc34d !important;
  background: #6fc34d;
}
.footer_quantam_plus ul li a:hover i,
.footer_quantam_plus ul li a.active i {
  color: #0b0909;
}

.footer_bottom_section {
  border-top: 1px solid #4d4b4b;
  display: flex;
  width: 100%;
}

.footer_bottom_section p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  align-items: center;
  letter-spacing: 2px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}
/*footer*/

/* breadcrumbs */

ul.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--paragraph-text-color);

  flex-wrap: wrap;
}
ul.breadcrumbs li + li:before {
  content: "";
  padding-inline: 13px;
  background: url(../assets/images/breadcrumbsIcon.svg) no-repeat center;
}
ul.breadcrumbs li {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  text-transform: capitalize;
}
ul.breadcrumbs li:last-child {
  color: var(--primary-color);
}
/* breadcrumbs end */

/* Categories start */
.inner_main .category_card {
  flex-direction: column;
  text-align: center;
  padding: 20px;
  width: unset;
  max-width: 300px;
  min-width: 100%;
}

.inner_main .category_card_img {
  min-width: 100%;
  aspect-ratio: 1.3;
  height: unset;
  max-width: 250px;
  max-height: 200px;
}

.inner_main .category_card_header_item {
  font-size: 16px;
  font-size: clamp(14px, 2vw, 18px);
}

.inner_main .category_card_header_title {
  font-size: 20px;
  font-size: clamp(18px, 2vw, 22px);
}

.section_main.inner_main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  place-items: unset;
}

.categories_header_card_content {
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  z-index: 2;
}
.categories_header_card_content h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(18px, 3vw, 22px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #ffffff;
}

.categories_header_card_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 26px;
  text-transform: capitalize;
  color: #d4d4d4;
}
.categories_header_card:after {
  position: absolute;
  width: 100%;
  content: "";
  height: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  background: linear-gradient(
    181.89deg,
    rgba(2, 15, 9, 0) 43.71%,
    #020f09 98.41%
  );
}
.categories_header_card {
  position: relative;
  max-width: 400px;
}

.categories_header_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px 25px 5px 25px;
  background: linear-gradient(#020f09 0 0) padding-box,
    /*this is your grey background*/
      linear-gradient(
        94.42deg,
        #287a07 1.86%,
        rgba(255, 255, 255, 0.21) 102.78%
      )
      border-box;
  border: 1px solid;
  border-image-source: linear-gradient(
    94.42deg,
    #287a07 1.86%,
    rgba(255, 255, 255, 0.21) 102.78%
  );
}

/* Categories end */

/* haigrevePropertyGames  */
.item_increase {
  background: var(--body-text-color);
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 132px;
  height: 40px;
  padding: 0 7px;
}

.item_increase input {
  width: calc(100% - 40px);
  text-align: center;
  background: transparent;
  font-size: 20px;
  color: var(--heading-nav-text-color);
}

.item_increase .icon {
  font-size: 32px;
  color: var(--heading-nav-text-color);
  line-height: 24px;
  cursor: pointer;
  background: transparent;
  margin: 0;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: unset;
  font-weight: unset;
}
h4.recomm_card_hr {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 20px);
  line-height: 113%;
  text-transform: capitalize;
  color: #ffffff;
}

/* addtocart  page */
.order_item_header {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.order_item_header h3 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(22px, 3vw, 30px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
}

.order_item_header p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 18px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--paragraph-text-color);
}
.order_table {
  background: #fff;
  border: 1px solid #dedede !important  ;
  border-radius: 5px !important;
  /* backdrop-filter: blur(10px); */
}

td.order_item_img img {
  width: 80px;
  object-fit: none;
  aspect-ratio: 1;
  object-position: center;
  border-radius: 5px;
}

td.order_item_name p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 5vw, 18px);
  line-height: 26px;
  text-transform: capitalize;
  color: #d4d4d4;
  margin: 0;
}

td.order_item_name h3 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(18px, 5vw, 22px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  white-space: nowrap;
}

td.order_item_price h4 {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(20px, 5vw, 28px);
  line-height: 37px;
  text-align: right;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  margin: 0;
}

table.table.order_table td {
  vertical-align: middle;
  padding: 20px 0 20px 20px;
}

.oder_pencil {
  background: #f9be3d;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.order_sub_title_header {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 23px;
  color: var(--heading-nav-text-color);
  margin-bottom: 10px;
}

textarea.addMessages_text {
  background: #fff;
  border: 1px solid #dedede;

  border-radius: 5px;
  width: 100%;
  color: var(--paragraph-text-color);
  padding: 10px;
  height: 180px;
}
.coupon_section {
  background: #fff;
  /* backdrop-filter: blur(10px); */
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #dedede;
}

.coupon_section_input input {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--paragraph-text-color);
  background: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 12px;
}
.coupon_section_price {
  display: flex;
  margin-bottom: clamp(15px, 5vw, 25px);
  justify-content: space-between;
}

p.order_sub_price_name {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 5vw, 18px);
  line-height: 23px;
  color: var(--heading-nav-text-color);
  margin: 0 !important;
}
p.order_sub_price_name span {
  font-weight: 300;
}

p.order_sub_price {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(14px, 5vw, 18px);
  line-height: 23px;
  text-align: right;
  color: var(--heading-nav-text-color);
  margin: 0;
}
p.order_sub_price_totalname {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(16px, 5vw, 20px);
  line-height: 23px;
  margin: 0;
  color: var(--heading-nav-text-color);
}
p.order_sub_price_totalname span {
  font-weight: 300;
}
p.order_sub_price_total {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(16px, 5vw, 20px);
  line-height: 23px;
  text-align: right;
  color: var(--primary-color);
  margin: 0;
}
.coupon_section_price.total {
  border-top: 1px solid #00000021;
  padding-top: clamp(15px, 5vw, 25px);
}
.button_group {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: clamp(11px, 4vw, 23px);
}
.yellow_btn.out_line {
  border: 1px solid var(--primary-color);
  color: var(--heading-nav-text-color);
  background: transparent;
}
table.table.order_table td:last-child {
  padding: 20px;
}

/* popup  */
.modal-dialog.order_popup {
  max-width: 480px !important;
}

.modal-content.popup_over {
  background: #fff;
  border-radius: 10px;
  font-family: "Jost";
  line-height: 113.2%;
  text-align: center;
  color: #ececec;
  padding: 22px 20px clamp(24px, 4vw, 30px) 20px;
}
.corr_icon {
  background: #fff;
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: auto;
  margin-top: -8px;
  margin-bottom: 18px;
}

.popup_content h4 {
  font-weight: 700;
  font-size: 20px;
  font-size: clamp(18px, 4vw, 24px);
  line-height: 113.2%;
  text-align: center;
  color: var(--heading-nav-text-color);
  font-family: "EB Garamond";
}

.popup_content h6 {
  font-weight: 500;
  font-size: clamp(15px, 4vw, 18px);
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px !important;
}

.popup_content p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: clamp(16px, 4vw, 18px);
  line-height: 30px;
  text-align: center;
  color: var(--paragraph-text-color);
  margin-bottom: clamp(20px, 4vw, 68px);
}

/* new  */

.contactUs .footer_contact_us {
  background: linear-gradient(168.25deg, #25ba4b 7.15%, #24a745 101.15%);
  border-radius: 5px;
  padding: 30px;
  width: 530px;
}
.contactUs {
  background: #ffffff;
  border-radius: 5px 25px 5px 5px;
  display: flex;
  gap: clamp(20px, 5vw, 50px);
  padding: clamp(20px, 5vw, 50px);
  position: relative;
  z-index: 99;
}
h3.contactUs_header {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(28px, 5vw, 36px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  margin-bottom: 30px;
}

.contactUs .footer_quantam_plus {
  align-items: flex-start;
  margin: 5px 0;
}

.input_form label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: var(--paragraph-text-color);
  padding-bottom: 10px;
}

.input_form input {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--heading-nav-text-color);
  display: block;
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid var(--paragraph-text-color);
}

.input_form input:focus {
  border: 1px solid #0a3f26;
}
.contactUs_get {
  width: 100%;
}

.form_group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: clamp(11px, 4vw, 23px);
}
.input_form textarea {
  background: #041b10;
  border-radius: 5px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #f5fefa;
  width: 100%;
  padding: 12px 24px;
  margin-bottom: clamp(20px, 5vw, 40px);
}
.map {
  /* margin-bottom: 60px; */
  z-index: 0;
  position: relative;
}

/* login page  */
.iconsection {
  background: #f4f8f5;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_icon {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 40px;
  padding: 15px 0 30px 0 !important;
}
.login_other {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.2%;
  text-transform: capitalize;
  color: #7c827f;
  display: table;
  white-space: nowrap;
}

.line_login {
  display: table-cell;

  background: red;
}

.login_other:before {
  background: linear-gradient(to bottom, #686868, #686868) no-repeat left center /
    95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
  opacity: 0.2;
}
.login_other:after {
  background: linear-gradient(to bottom, #686868, #686868) no-repeat right
    center / 95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
  opacity: 0.2;
}

.logo {
  text-align: center;
  height: 100%;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

h1.login_header {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(30px, 3vw, 42px);
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  margin-bottom: 14px;
}

p.login_details {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 18px);
  line-height: 113.2%;
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
  color: var(--paragraph-text-color);
  margin-bottom: 44px;
}

.remember_me label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  /* or 20px */
  color: #d4d4d4;
}

.remember_section p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  color: #f9be3d;
  margin: 0;
}

.remember_section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: clamp(14px, 9vh, 24px);
  justify-content: space-between;
}

.signup {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 113.2%;
  text-align: center;
  color: var(--paragraph-text-color);
  margin-top: clamp(30px, 5vh, 80px);
  margin-bottom: 40px;
}

/* flag_section*/

.input_form.flag_section .iti.iti--allow-dropdown {
  display: block !important;
  width: 100% !important;
}

.input_form.flag_section input {
  height: unset !important;
  font-size: 18px;
}
.input_form.flag_section input:focus {
  box-shadow: unset;
}
/* input eye icon */
span.field-icon.toggle-password,
span.field-icon {
  position: absolute;
  right: 15px;
  bottom: 14px;
}
.input_form {
  position: relative;
}
input#password {
  padding-right: 55px;
}

/* product category  */
.terms .subscribe_title {
  background: #fff;
  border-radius: 5px;
  padding: 12px 24px;
  color: var(--heading-nav-text-color);
  font-size: 36px;
  font-size: clamp( 25px , 3vw, 36px);
}
.terms ul {
  list-style-type: disc;
  padding-left: clamp(15px, 6vw, 60px) !important;
}

h6.terms_sub_header {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #ececec;
  margin-top: 30px !important;
}

.terms {
  /* padding: clamp( 10px , 4vw , 60px ); */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  background: #ffffff;
  border-radius: 5px 25px 5px 5px;
  color: var(--paragraph-text-color);
  margin-bottom: 30px;
}
.terms ul li {
  margin-bottom: 30px;
}

/* faQ   */
.accordion-item.faq_accordion .accordion-body {
  padding: 0;
  color: var(--paragraph-text-color);
}

div#frequentlyAccordion {
  margin-top: clamp(20px, 5vw, 50px);
}
.accordion-item.faq_accordion {
  background: #fff;
  border: unset;
  margin-bottom: clamp(10px, 2vw, 38px);
  padding: clamp(10px, 5vw, 22px) clamp(15px, 5vw, 30px) clamp(10px, 5vw, 22px)
    clamp(20px, 5vw, 40px);
}

.faq_accordion .accordion-button:not(.collapsed) {
  background: #fff;
  color: var(--heading-nav-text-color);
  padding: 0;
  margin-bottom: 10px;
  box-shadow: unset;
  padding-bottom: 20px;
}

.faq_accordion .accordion-button {
  background: #fff;
  border-radius: 5px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--heading-nav-text-color);
  padding: 0;
  border-bottom: 1px solid #00000015;
  padding-bottom: 20px;
}
.faq_accordion .accordion-button:focus {
  box-shadow: unset;
  border-color: #00000015;
}

.faq_accordion .accordion-button::after {
  background: url(../assets/images/accArrow.svg) no-repeat center !important;
}

/* my order  */
.orders_section .order_items_name {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: calc( 100% - 600px );
  min-width: 200px;
}

.orders_section .order_card {
  flex-wrap: wrap;
}

.orders_section .order_items_headers:last-child {
  margin-top: auto;
  margin-bottom: 0;
}

.orders_section .order_card_booking_status {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.order_card_det_header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(242px, 1fr));
  gap: 15px;
  background: #ffffff;
}
.order_img {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: 220px;
  aspect-ratio: 1.56;
  justify-content: center;
  min-width: 150px;
}
#order-details .order_card_det_header {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 16px 0px 20px 16px;
}

#order-details .order_img {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: 90px;
  height: 82px;
  /* aspect-ratio: 1.56; */
  justify-content: center;
}

.order_card {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 20px;
  gap: clamp(10px, 2vw, 30px);
  margin-bottom: 32px;
  margin-bottom: clamp( 15px , 4vw , 32px);
}

.order_card_det {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}

.order_card_det p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--heading-nav-text-color);
  margin: 0;
}

.order_card_det p:first-child {
  font-weight: 400;
  width: 65%;
  color: var(--paragraph-text-color);
}
.order_card_booking {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
#order-details 
.order_card_booking {
  gap: 19px;
  margin-top: 20px;
  padding: 16px 20px 20px 16px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.order_items {
  width: 100%;
}

p.order_invoice {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  text-transform: capitalize;
  color: #2B2B2C;
  margin: 0;
  margin-bottom: 10px;
}

.order_group {

  margin-top: auto;
  display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
}
.order_group button:last-child {
  margin-left: 20px;
}

.order_img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
h4.order_items_header {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(17px, 3vw, 20px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #ffffff;
}

/*  */
.contactUs .footer_contact_us {
  max-width: 420px;
  width: 100%;
}
/*  */
.latestoff_card_img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.latestoff_card_header {
  position: relative;
  z-index: 2;
}

.latestoff_card_img img {
  width: 100%;
  height: 100%;
}
.latestoff_card {
  position: relative;
}

.login_main .logo {
  margin: auto;
  margin-bottom: 30px;
}
.input_form.otp_part input:focus {
  border: unset;
  border-bottom: 1px solid var(--paragraph-text-color);
}
.aboutus_main_sub_heading {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.aboutus_content {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: var(--paragraph-text-color);
  opacity: 0.9;
}
.latestoff_card:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  background: #000;
  opacity: 0.3;
  left: 0;
  content: "";
}
.aboutus_vedio_content img {
  width: 100%;
}


/* ad css  */
.squar_ad {
  position: absolute;
  width: 300px;
  height: 250px;
  background: aliceblue;
  top: -105px;
}
.squar_ad.left {
  left: 0;
}
.squar_ad.right {
  right: 0;
}
.vertical_ad {
  position: fixed;
  width: 160px;
  height: calc(100vh - 60px);
  z-index: 99;
  background: aliceblue;
  top: 30px;
}
.vertical_ad.left {
  left: 38px;
}
.vertical_ad {
  right: 38px;
}
.horizontal_ad {
  position: absolute;
  width: 100%;
  height: 90px;
  margin: auto;
  /* background-color: aliceblue; */
  right: 50%;
  transform: translate(50%, 0px);
  top: 470px;
}

.adds_section {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.adds_section .squar_ad {
  position: unset;
}
.modal .adds_section {
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
}
.loader_ad {
  position: relative;
  margin-top: 33px;
}

.loader_ad .horizontal_ad {
  position: unset;
  margin: auto;
  transform: unset;
}

.mainPageSection .recomm_card:nth-child(1) {
  margin-bottom: 130px;
}

/* mobile adds  */
.mobile_add {
  display: none;
}
.horizontal_ad img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* location section  */
.location_popup_section {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  padding: clamp(25px, 6vw, 60px) 0;
  z-index: 99;
}

h1.location_header {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(24px, 3vw, 34px);
  line-height: 113.2%;
  /* or 38px */
  text-align: center;
  color: #2B2B2C;
  margin-bottom: 20px;
}

.location_popup_section p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 29px;
  /* identical to box height */
  text-align: center;
  color: #686868;
  margin-bottom: clamp(10px, 3vw, 30px);
}

h2.location_sub_header {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #2B2B2C;
  margin-bottom: clamp(10px, 3vw, 30px);
}

.location_input_section input {
  background: #F4F8F5;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 12px 140px 12px 50px;
  color: #ffffff;
  width: 100%;
}

.location_input_section .location_icon {
  background: #F4F8F5;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  padding: 7px 10px;
  color: #2B2B2C;
  position: absolute;
  right: 5px;
  top: 5px;
  white-space: nowrap;
}

.place_list p {
  padding: 8px 24px;
  background: #FFFFFF;
border: 1px solid #DEDEDE;
  border-radius: 5px;
  width: fit-content;
  margin: 0;
  color: #2B2B2C;
}

.place_list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: clamp(10px, 3vw, 30px);
  flex-wrap: wrap;
}
.location_input {
  width: 630px;
  position: relative;
  min-width: 300px;
}

span.search_icon {
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 12px;
}
.location_input_section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: clamp(10px, 3vw, 30px);
}
.location_input_section button {
  padding: 10px 20px;
}
.location_list_section {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede66;
  max-width: 910px;
  margin: auto;
  margin-bottom: clamp(10px, 3vw, 30px);
}
.location_list_section:last-child {
  margin-bottom: unset;
}

.location_title h6 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #2B2B2C;
  margin-bottom: 5px;
}

.location_list_section p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #686868;

  opacity: 0.7;
  margin: 0;
  max-width: 340px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.location_title {
  width: 72%;
}
.location_list {
  max-height: 273px;
  overflow-y: auto;
}
.location_distance {
  margin-left: auto;
  margin-top: auto;
}
.searchInput,
.getLocation,
.searchLocation {
  display: none;
}

/* otp section  */

.input_form.otp_part {
  display: flex;
  align-items: center;
  gap: 12px;
  grid-auto-flow: column;
  justify-content: center;
}

.input_form.otp_part input {
  aspect-ratio: 1;
  width: 40px;
  padding: 5px;
  height: 50px;
  text-align: center;
  appearance: none;
  background: #ffffff;
}

/* reccomentation */
.reccomentation .horizontal_ad {
  top: 460px;
}
span.small_hr {
  font-size: 20px;
}
.select_section {
  display: flex;
  justify-content: end;
  padding-bottom: 30px;
}

.order_popup .modal-content {
  background: #020f09;
  padding: 20px;
}
.order_header_popup {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  position: relative;
}

/* .order_header_popup .order_img {
  margin-right: 20px;
} */

.order_header_popup_title p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
  color: var(--paragraph-text-color);
  margin: 0;
}

.order_popup .order_items {
  padding: 20px;
  background: #041b10;
  border-radius: 5px;
  width: 100%;
}

.order_popup .order_items .order_card_det_header {
  display: grid;
  grid-template: inherit;
  gap: 15px;
}

.order_popup .order_card_booking {
  background: #041b10;
  border-radius: 5px;
  width: 100%;
  margin: unset;
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.order_popup .order_card_booking .order_card_det {
  justify-content: space-between;
}
.order_card_det.total_amount P:first-child {
  font-weight: 500;
  text-transform: capitalize;
}

.order_card_det.total_amount P:last-child {
  font-weight: 600;
  font-size: clamp(18px, 3vw, 24px);
}

.order_card_det.total_amount {
  border-top: 1px solid #0000001a;
  padding-top: 20px;
  margin-top: 5px;
}
.order_popup .order_group {
  text-align: right;
}

.order_popup .order_items .order_card_det_header p {
  width: 50%;
}
.popup_order_sub_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(16px, 3vw, 22px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #ffffff;
}
.order_header_popu_section h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(20px, 3vw, 28px);
  line-height: 40px;
  color: #ffffff;
}

.order_header_popu_section {
  display: flex;
  justify-content: space-between;
}
.order_header_popup_title {
  margin: 10px 0;
  margin-left: 10px;
}
.footer_payment {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer_bottom_section_inner {
  display: flex;
  justify-content: center;
}

.footer_payment p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
  padding-right: 10px;
  margin: 0;
}

.footer_payment span {
  width: 60px;
  background: #0d2c1d;
  border-radius: 2px;
  height: 26px;
  margin-right: 8px;
  display: inline-block;
  text-align: center;
}
.footer_bottom_section_inner {
  flex-wrap: wrap;
  padding: 18px 0;
}
.input_form .form-control {
  border: unset;
}
.flag_section .iti__arrow {
  width: 15px;
  height: 15px;
  border: unset;
  background: url(../assets/images/Vectorarrow.svg) no-repeat center;
}
/* .input_form.flag_section  input{
  padding-left: 60px !important;
} */

/* profile page */


.profile_tab_section_left {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 10px !important;
  width: 260px;
  margin-right: 32px;
  position: sticky;
  top: 0px;
  height: fit-content;
  z-index: 33;
}
button.status_order {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
  width: fit-content;
  height: 26px;
  left: 1533px;
  top: 440px;
  background: #FFFCF5;
  border: 0.3px solid ;
  border-radius: 3px;
  padding: 0 8px;
}
button.status_order.cancelled{
  background: #FFF7F7;
  border-color:  #F44336;
  color: #F44336;
}
button.status_order.delivered{
  background: #F2FFF5;
  border-color:  #28B34B;
  color: #28B34B;
}
button.status_order.pending{
  background: #FFFCF5;
  border-color:  #F9BE3D;
  color:#F9BE3D ;
  display: block;
  margin-left: auto;
  margin-bottom: 13px;

}
.orders_section .yellow_btn  {
  width: 144px;
  height: 46px;
  padding: 8px;
}
.order_items_headers {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  font-size: clamp( 18px , 3vw , 24px);
  line-height: 113.2%;
  text-transform: capitalize;
  color: #2B2B2C;
}
.order_items_type {
  display: flex;
  flex-wrap: wrap;
}

.order_items_type li {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.order_items_type li + li {
  padding-left: 6px;
}
.order_items_type li + li:before{
  width: 4px;
  height: 4px;
  background: #686868;
  opacity: 0.5;
  display:inline-block;
  content:"";
  margin-right: 6px;
  border-radius: 50%;
}
.tab_left_section span {
  width: 36px;
  height: 36px;
  background: #ECF4EE;
  border: 0.5px solid #EEEEEE;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.tab_left_section.active {
  background: #28B34B;
  font-weight: 500;
  color: #FFFFFF;
}

.tab_left_section {
  border-radius: 5px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2B2B2C;
  padding: 7px 10px;
  background: #ffff;
  margin-bottom: 15px;
  text-align: left;
}

.profile_tab_section {
  display: flex;
  position: relative;
}

.profile_tab_section_right {
  width: calc( 100% - 292px );
}

.input {
  display: none;
}

.img-section {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff;
  border: 2px solid #28B34B;
  position: relative;
  padding: 5px;
}

.sectionHeader {
  width: 90px;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 90px;
  margin-left: 30px;
}
.profile_button_section {
  margin-top: 30px;
}

img.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  background: radial-gradient(var(--primary-color), transparent);
}
.icon_section_profile {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border: 0.5px solid #eeeeee;
  border-radius: 20px;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.profile_section {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 30px;
}
.profile_input_section  .input_form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: end;
}
.profile_input_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}
.profile_section {
  display: grid;
  gap: 30px;
}
button.yellow_btn.out_line.update_cancal {
  margin-right: 20px;
}
.profile_input_section input {
  pointer-events: none;
}
.edit .profile_input_section input {
  pointer-events: unset;
  color: #2B2B2C;
opacity: unset;
}
.profile_input_section input {
opacity: 0.7;
}
.icon_section_profile {
  display: none;
}
.edit .icon_section_profile {
  display: flex;
}
.profile_button_section.update {
  display: none;
}
.edit .profile_button_section.update {
  display: block;
}
.edit .profile_button_section.edit {
  display: none;
}
.yellow_text {
  color: var(--primary-color);
}

/* new css  */
.slider_recommendations {
  float: left;
  width: 100%;
  display: block;
}
.silder_item_recomm {
  padding: 10px;
}
.silder_item_recomm.slick-active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.slick-dots li button:before {
  content: unset;
}

.slick-dots li button {
  background: #ffffffd1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
li.slick-active button {
  background: #f9be3d;
}
.slick-dots {
  bottom: -20px;
}
.slick-dots li {
  width: 10px;
}
.slick-prev {
  left: 5px;
  z-index: 5;
}
.slick-next {
  right: 5px;
}
.slick-next:before,
.slick-prev:before {
  font-size: 25px;
  line-height: 1;
  opacity: unset;
  color: #ffffff;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.8;
}

/* ruban new css */
.popup_close {
  display: block;
  margin-left: auto;
}
.popup_close button:focus {
  box-shadow: unset;
}
.done_btn {
  margin: 0% 4.5%;
}
.form_otp_sec {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form_otp_sec span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #686868;
  padding-left: 32px;
}
#verification .modal-content.popup_over {
  padding: 50px 20px clamp(24px, 4vw, 50px) 20px;
}
.modal-content.popup_over {
  text-align: left;
}
#registration .modal-content.popup_over {
  padding: 22px 20px clamp(24px, 4vw, 50px) 20px;
}

#registration p.login_details {
  margin-bottom: 40px;
}
.input_form {
  margin-bottom: 15px;
}
.input_form label {
  padding: 0px;
  font-size: 16px;
}
.input_form input {
  border-bottom: 1px solid #6868684d;
  padding: 2px 13px 0px 0px;
}
.input_form input:focus {
  border: unset;
  border-bottom: 1px solid var(--primary-color);
}
#registration .signup {
  margin-bottom: 0;
  margin-top: clamp(50px, 5vh, 80px);
}
#registration p.agree {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}
#registration .input_form.input_checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 25px;
}

#registration .input_form.input_checkbox p {
  margin: 0;
  color: var(--heading-nav-text-color);
  margin-left: 10px;
}
#registration .form_section,
#login .form_section {
  padding: 0px 20px;
}
h1.login_header {
  font-size: clamp(23px, 3vw, 34px);
}
#login p.login_details {
  margin-bottom: 50px;
}
#login .yellow_btn {
  margin-bottom: 50px;
  margin-top: 40px;
}
#login .social_icon {
  padding: 0 !important;
  gap: 20px;
}
#login .login_other {
  margin-bottom: 30px;
}
#login .signup {
  margin-top: 50px;
  margin-bottom: 25px;
}
#login .login_other::after {
  width: 100%;
}
.input_form.flag_section input {
  padding-left: 40px;
  border-radius: unset;
  border-bottom: 1px solid #6868684d;
}
.input_form.flag_section input:focus {
  border-bottom: 1px solid var(--primary-color);
}
#deliverd .popup_content p {
  margin-bottom: 70px;
}
.popup_bg {
  background: url(../assets/images/Popup-bg.png) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
}
.popup_close_sec {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.popup_close_text h2,
.popup_close_text h4 {
  color: var(--heading-nav-text-color);
}
.popup_close_sec h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
}
.popup_close_text .order_header_popup_title ul {
  display: inline-flex;
  gap: 26px;
}
.popup_close_text .order_header_popup_title ul li:not(:first-child) {
  list-style-type: disc !important;
}
.popup_close_text .order_header_popup_title ul {
  color: var(--paragraph-text-color);
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize;
}
#order-details .modal-content.popup_over {
  padding: 30px 30px clamp(24px, 4vw, 30px) 30px;
}
#order-details .order_items .order_status {
  color: var(--secondary-color);
  padding: 3px 8px;
  background: #fffcf5;
  border: 0.3px solid #f9be3d;
  border-radius: 3px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
}
#order-details .payment_type {
  justify-content: flex-start;
}
#order-details .payment_type span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686f6b;
}
#order-details .order_card_det_header .order_card_det {
  justify-content: flex-start;
}
#order-details .order_card_det.payment_type p:first-child {
  width: unset;
  padding-right: 20px;
}
.popup_close_text .order_group {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

#order-details .order_group .yellow_btn {
  padding: 13px 17px;
  font-size: 16px;
  width: 163px;
}
#feedback .order_card_det_header {
  display: block;
}
.popup_rightarrow {
  background-image: url(../assets/images/popup_rightarrow.svg);
  position: absolute;
  width: 8px;
  display: block;
  height: 12px;
  right: 16px;
  background-repeat: no-repeat;
  top: 43%;
}
#feedback .order_card_booking {
  gap: 0;
}
#feedback h4 {
  margin-bottom: 8px;
}
#feedback p {
  margin-bottom: 20px;
}
.popup_close_sec {
  margin-bottom: 20px;
}
.emoji_sec h2 {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 113.2%;
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2c;
  margin: 0;
}
.input_form label {
  transform: translateY(25px);
  transition: 0.3s;
  pointer-events: none;
}

.input_form:has(input:focus) label {
  transform: translateY(0px);
}
.input_form:has(input:valid) label {
  transform: translateY(0px);
}
.emoji_icons_bg {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fcf3de;
  border-radius: 5px;
}
.emoji_icons_bg:hover {
  border: 1px solid #f9be3d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.emoji_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
#feedback .order_card_det_header {
  padding: 16px 16px 20px 16px;
  margin-bottom: 20px;
}
#feedback .order_group button:first-child {
  margin: unset;
  width: 200px;
}
#customize .popup_close_sec {
  width: auto;
}
#customize .order_card_det p:first-child{
  width: unset;
}
#customize .order_header_popup,
#customize .order_card_booking {
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #e6e6e6;
}
#customize .order_items {
  overflow-y: auto;
  height:calc( 100vh - 235px );
  padding-right: 30px;
  padding-right: clamp( 15px , 2vw , 30px);
}
.order_items_headerss {
  padding: 0 30px;
  padding: 0 clamp( 15px , 2vw , 30px) ;
}
#customize .modal-content.popup_over {
  padding: 0;
}
.popup_content h4 {
  margin-bottom: 12px;
}
#customize .popup_close_text .order_group {
  padding: 0 30px 20px;
  padding: 0 clamp( 15px , 2vw , 30px) 20px;
}
#customize .popup_close_text .order_group {
  padding: 0 30px 20px;
}

#customize .order_card_det {
  margin-bottom: 22px;
  margin-bottom: clamp( 10px , 2vw , 22px );
}

#customize .popup_order_sub_title {
  margin: 20px 0;
  margin: clamp( 10px , 2vw , 20px ) 0;
}
#customize .order_header_popup {
  position: relative;
}

#customize .popup_close_sec {
  position: absolute;
  right: 10px;
}

#customize .order_header_popup {
  padding: 20px 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: unset;
  margin: 0;
}
#customize .popup_close_text .order_group {
  justify-content: space-between;
}
.about_mid_sec_bg {
  background: #020503;
}

.about_mid_sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
  gap: 20px;

  padding: 50px 0px;

}

.about_mid_sec_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about_content_text {
  margin-left: 20px;
}
.about_content_text p {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-size: clamp( 14px , 3vw , 18px);
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  opacity: 0.9;
}

.about_content_text span {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  font-size: clamp( 24px , 3vw, 36px);
  line-height: 29px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 6px;
}
.aboutus_image_content img {
  width: 100%;
  height: 100%;
}

.contactUs_icon_white .footer_contact_us ul li span i {
  font-size: 22px;
  color: #fff;
}
.contactUs_icon_white .input_form textarea {
  background: #fff;
  color: var(--paragraph-text-color);
  border-bottom: 1px solid #6868684d;
}
.contactUs_icon_white .footer_quantam_plus ul li a:hover,
.contactUs_icon_white .footer_quantam_plus ul li a.active {
  border: 1px solid #fff !important;
  background: #fff;
}
.contactUs_icon_white .footer_quantam_plus ul li a:hover i,
.contactUs_icon_white .footer_quantam_plus ul li a.active i {
  color: var(--primary-color);
}
.contactUs_icon_white .contactUs_header_white {
  color: #ffffff;
}

.coupon_section_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dedede;
  padding-right: 15px;
}
.loyalty_Points label {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #686868;
}
.loyalty_Points p {
  margin-bottom: 20px;
}

.loyalty_Points {
  margin-top: 20px;
}
.select_picks {
  display: flex;
  gap: 35px;
}
.select_picks {
  display: flex;
  gap: 35px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.coupon_text {
  display: flex;
  justify-content: space-between;
}
.coupon_text p:last-child {
  color: var(--primary-color);
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
#customize .item_increase {
  width: 180px;
  height: 50px;
}
#customize .yellow_btn {
  padding: 12px 48px;
}
#customize .order_group button:nth-child(2) {
  width: unset;
}
#customize .order_img {
  background: #AA0303;
  border-radius: 20px 5px 16px;
  width: 90px;
  height: 81px;
}

/* input radio */
input[type="radio"] + label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
}
input[type="radio"] + label::before {
  content: "";
  background: url(../assets/images/uncheck.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}

input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label::before {
  background: url(../assets/images/checked.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* input checkbox */
input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
}
input[type="checkbox"] + label::before {
  content: "";
  background: url(../assets/images/checkbox_unchecked.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label::before {
  background: url(../assets/images/checkbox_checked.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* right popup */
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 583px;
  max-width: 90%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .order_popup_inside {
  height: 100%;
  overflow-y: auto;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -400px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ruban filter newly add */
.seller_filter_icons ul {
  display: flex;
  padding: 13px 0 !important;
}
.seller_filter_icons ul li {
  display: flex;
  margin-right: 40px;
  align-items: center;
}

.seller_filter_icons ul li span {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
  margin-bottom: 0px;
  white-space: nowrap;
}

.sections:has(.seller_filter){
  padding-top: 30px;
}

.seller_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DEDEDE;
  flex-wrap: wrap-reverse;
  margin-bottom: 21px;
}

.seller_filter_icons ul li svg:first-child {
  margin-right: 8px;
}
.seller_filter_btn {
  background: #FFFFFF;
  border: 1px solid #DADBDA;
  border-radius: 5px;
  width: fit-content;
  padding: 7px 17px;
  margin: 13px 0 !important;
}
button.filter_btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #686868;
  background: transparent;
}

.seller_filter_icons {
  overflow-x: auto;
  margin-right: auto;
}
.seller_filter_icons::-webkit-scrollbar {
  display: none;
}
.seller_filter_icons .active span{
  color: var(--heading-nav-text-color-hover);
}
.seller_filter_icons .active svg path{
  fill: var(--heading-nav-text-color-hover);
}
/* filter end */


/* coupons_section_list  */

.coupons_section_list {
  display: flex;
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: clamp( 10px , 2vw , 15px);
  margin-bottom: 20px;
  /* flex-wrap: wrap; */
}
.coupons_section_list:last-child{
  margin: 0;
}

.coupons_section_img {
  width: 120px;
  height: 100%;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: clamp( 10px , 2vw , 20px );
}

.coupons_section_text h3 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  font-size: clamp(16px , 2vw , 20px );
  line-height: 113.2%;
/* identical to box height, or 23px */
  text-transform: capitalize;

/* Black */
  color: #2B2B2C;
}

.coupons_section_text h4 {
font-family: 'Jost';
font-style: normal;
font-weight: 600;
font-size: 20px;
font-size: clamp(16px , 3vw , 20px );
line-height: 113.2%;
/* identical to box height, or 23px */

text-transform: capitalize;

/* Black */

color: #2B2B2C;
}

.coupons_section_text p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font-size: clamp(14px , 2vw , 18px );
  line-height: 26px;
/* identical to box height */
margin: 0;
  text-transform: capitalize;

/* Primary */
  color: #28B34B;
}

.coupons_section_text_right p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: clamp(14px , 2vw , 16px );
  line-height: 22px;
/* or 138% */
  text-align: right;
  text-transform: capitalize;

/* Grey Color */
  color: #686868;
  margin: 0;
}

.coupons_section_text_right .orders_section {
  margin-top: auto;
  display: block;
}

.coupons_section_text_right {
  display: flex;
  flex-direction: column;
}

.coupons_section_text {
  margin-right: auto;
}
.coupons_section_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loyalty Points  */
.loyalty_banner {
  background: url(../assets/images/loyalty_bg.svg) right top   no-repeat,linear-gradient(87.25deg, #28B34B 24.85%, #1ECA49 98.98%);
  border-radius: 10px;
  padding: 30px;
  padding: clamp( 20px , 3vw, 30px );
  margin-bottom: 32px;
  margin-bottom: clamp( 16px , 3vw , 32px);
}

.loyalty_header {
  font-family: 'Jost';
  font-style: normal;
  font-weight: var(--font-weight);
  font-size: 32px;
  font-size: clamp( 20px , 3vw, 32px );
  line-height: 113.2%;
  text-transform: capitalize;
  color: #2B2B2C;
}

.loyaity_content {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  font-size: clamp( 16px , 2vw , 20px);
  color: #2B2B2C;
  margin: 0;
}
.loyalty_banner .loyalty_header ,.loyalty_banner .loyaity_content {
  color: #FFFFFF;
}

.loyalty_sub_header {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  font-size: clamp( 30px , 3vw , 40px);
  text-transform: capitalize;
  color: #FFFFFF;
}

.loyaity_content_inner {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  font-size: clamp( 12px , 2vw , 16px);
  display: flex;
  align-items: center;
  color: #686868;
  opacity: 0.75;
}

.history_view {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
  color: #28B34B;
  padding-top:20px ;
  padding-top:clamp( 10px ,3vw, 20px) ;
  margin: 0;
}

.loyalty_history,.loyalty_works {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 20px;
  padding: clamp( 15px , 3vw , 20px);
  margin-bottom: 32px;
  margin-bottom: clamp( 16px , 3vw , 32px);
}
.loyaity_content.credited {
  color: #28B34B;
  font-weight: 700;
}
.loyaity_content.debited {
  color: #DE2126;
  font-weight: 700;
}

.loyalty_history_content {
  padding: 20px 0;
  padding: clamp( 10px , 3vw , 20px) 0;
  border-bottom: 1px solid #68686838;
  display: flex;
  justify-content: space-between;
}

.loyalty_history_content .loyaity_content_inner {
  margin: 0;
}

.loyalty_works_inner_immg {
  background: #F4F8F5;
  border: 0.5px solid #EEEEEE;
  border-radius: 100px;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.loyalty_works_inner {
  padding: 20px 0;
  border-bottom: 1px solid #68686838;
  display: flex;
  align-items: center;
}


/* settings_sectionx */
.settings_section {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  padding: 30px;
  padding: clamp( 15px , 3vw , 30px);
}

.settings_section_inner_text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 127%;
  line-height: 26px;
  color: #2B2B2C;
  font-size: 18px;
  font-size: clamp( 14px , 2vw, 18px);
  margin: 0;
}

.settings_section_inner {
  display: flex;
  border-bottom: 1px solid #2b2b2c54;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-bottom: clamp( 10px , 2vw , 20px);
  margin-bottom: 30px;
  margin-bottom: clamp( 15px , 2vw , 30px);
}

.settings_section_inner .lan_section select {
  font-size: 16px;
  font-weight: 400;
  font-size: clamp( 12px , 2vw, 16px);
  color: #686868;
}
.settings_section_inner.delete_account {
  border: unset;
}
/* .done_btn a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
} */

.done_btn {
  position: relative;
}
.settings_section_inner.delete_account h4 {color: #F44336;}



/* notification  section */

.notification_img_section {
  background: #aa030345;
  border-radius: 5px 12px;
  min-width: 80px;
  max-width: 80px;
  min-height: 70px;
  aspect-ratio: 1.1;
  overflow: hidden;
  margin-right: 20px;
  margin-right: clamp( 10px , 2vw , 20px);
}

.notification_img_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.notification_card {
  display: flex;
  padding: 12px 30px;
  padding: 12px clamp( 15px , 2vw , 30px);
  border-bottom: 1px solid #DEDEDE;
  position: relative;
}

.notification_text_section {
  margin-right: auto;
}

.notification_text_section p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: clamp( 12px , 2vw, 16px);
  line-height: 23px;
  text-transform: capitalize;

/* Grey Color */
  color: #686868;
  margin: 0;
}

.notification_time {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  text-transform: capitalize;
  color: #686F6B;
  margin: 0;
  white-space: nowrap;
}

.notification_section {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}
.notification_text_section_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  padding: 20px clamp( 15px , 2vw , 30px);
}

.notification_text_section_header .history_view {
  padding: 0;
  font-size: clamp( 14px , 2vw, 18px);
}
.notification_today .notification_card::before{
  content: "";
  width: 3px;
  background: #28B34B;
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  left: 0;
  inset-block: 10px;
}

.recomm.additinal_info {
  display: flex;
 margin: auto;
 width: fit-content;
 max-width: 100%;
  gap: 0;
  overflow: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}
.recomm.additinal_info .recomm_card{
  max-width: 306px;
  min-width: 306px;
  border-radius: 5px 25px;
}
.recomm.additinal_info .recomm_card + .recomm_card {
  margin-left: 60px;
  position: relative;
}

.recomm.additinal_info .recomm_card + .recomm_card::before {
  content:"+";
  position: absolute;
  top: 50%;
  left: -40px;
  font-size: 30px;
  color: #686868;
  font-weight: 900;
}
.combo_offer_price.section {
  max-width: 670px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 10px;
}
.recomm.additinal_info .recomm_card_price {
  padding: 0 !important;
}

.recomm.additinal_info .rating_star {
  padding-bottom: 10px;
}
.combo_total {
  font-family: 'EB Garamond';
  font-size: 22px;
  line-height: 113.2%;
  text-transform: capitalize;
  color: #2B2B2C;
  font-style: normal;
  font-weight: 700;
}

.combo_total span {
      font-family: 'Jost';
   font-weight: 400;

}
.profile_section label img {
  padding-right: 14px;
}

.profile_section label {
  display: flex;
  align-items: center;
  z-index: 2;
  padding-bottom: 5px;
}
.profile_uploader label img {
  padding: 0;
}

/* ruban */


.newpop_btn {   
   display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0px 0px 0px;
}
.newpop_btn button {
  width: calc(50% - 5px);
}
.popup_body {
  padding:0px 10px 0px 19px;
}
input[type="radio"] + label {
  color: #686868;
  margin-bottom: 0;
}
#payment1 .input_form.otp_part input {
  width: 48px;
}
  #payment4 .select_picks {
    display: flex;
    flex-direction: column;
}
/* #payment4 .select_picks{
  gap: 20px;
} */
.radio_p{
  padding-bottom: 20px;
  border-bottom: 1px solid #00000025;
}


/* chat bot popup  */
.chat_bot {
  position: fixed;
  right: 40px;
  bottom: 0;
  width: 440px;
  max-width: calc(100% - 80px );
  z-index: 2223;
}

.chat_header {background: linear-gradient(98.54deg, #2FC154 17.39%, #2CBA50 66.09%);border-radius: 10px 10px 0px 0px;padding: 20px;padding: clamp( 10px , 3vw , 20px);}

.chat_header h1 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.chat_header h1 span {
  background: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  margin-right:10px;
  align-items: center;
  justify-content: center;
}

.receive_sms {
  background: #FFF3DF;
  margin: 10px 0;
  border-radius: 8px 8px 8px 0px;
  padding: 10px;
  margin-right: auto;
  max-width: 80%;
  width: fit-content;
}

.chat_section_part {padding: 10px 20px 0px;max-height: calc( 100vh - 290px);overflow: auto; height: 400px; min-height: 100px;display: flex;
  flex-direction: column;
 }
 .receive_sms:first-child {
  margin-top:auto
}
.chat_section {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
}

.sending_part {
  padding: 20px;
  display: flex;
  align-items: center;
}
.receive_sms p a{
  font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
text-decoration-line: underline !important;
text-transform: capitalize; 
color: #28B34B !important;
}
.receive_sms p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #2B2B2C;
  margin: 0;
}

.sending_sms p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #2B2B2C;
  margin: 0;
}

.sending_sms {
  margin: 10px 0;
  background: #DBF5E2;
  border-radius: 8px 8px 0px 8px;
  max-width: 80%;
  margin-left: auto;
  padding: 10px;
  width: fit-content;
}

.sending_part_input_section input {
  background: #ECF4EE;
  border-radius: 5px;
  padding: 14px 16px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  width: 100%;
}

.sending_part_input_section {
  position: relative;
  width: calc( 100% - 52px);
}

.sending_part_input_section span {
  position: absolute;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 24px rgba(68, 114, 196, 0.1);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: calc( 50% - 16px );
  right: 10px;
}

.microphone {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #28B34B;
  box-shadow: 0px 10px 24px rgba(68, 114, 196, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.chat_bot_icon_section {
  width: 60px;
  height: 60px;
  background: #28B34B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-right: 60px;
}
.chat_bot.active .chat_bot_icon_section .chat_icon{
  display: none;
}
.chat_bot.active .chat_bot_icon_section .close{
  display: block;
}
.chat_bot_icon_section .close{
  display: none;
}
.chat_bot_icon_section{
  position: relative;
}
.chat_bot.active .chat_bot_icon_section::before{
  position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    bottom: 100%;
    background: url(../assets/images/down_arrow.png) center no-repeat;
}
.chat_bot_icon_section::before{
  content: unset;
}
.chat_bot.active .chat_section{
  display: block;
}
.receive_sms.button_group_chat {
  background: unset;
}

.receive_sms.button_group_chat button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2B2B2C;
  background: #FFFFFF;
  border: 1px solid #F9BE3D;
  border-radius: 5px;
  margin-right: 5px;
  padding: 7px 12px;
}
#registration .input_form.input_checkbox label {
  pointer-events: unset;
}
.tab_left_section span{margin-right: 8px;}
.slick-next:before, .slick-prev:before {
  color: #28b34b;
}